body{
     padding: 0;
     margin: 0;
     background-color: rgba(255, 255, 255, 0.15);
     text-align: center;
     
}
.home{
     display:block;
     font-weight: bold;
     margin: 20vw;
     margin-top:2%;
     
}
.home h1{
     text-align: center;
}
.home h3{
     text-align: center;
}
.home li{
     font-size: 120%;
     padding: 1%;
}
::-webkit-scrollbar{
     background-color:rgba(255, 0, 55, 0.5);
 }
::-webkit-scrollbar-thumb{
     background-color: rgba(255, 0, 55, 1);
     border-radius: 15px;
}
::-webkit-scrollbar-track{
     background-color: transparent !important;
}
/*Media query*/
@media(min-width: 320px) and (max-width : 768px){
     .home{
          text-align: left;
          font-size: 80%;
          margin:5%
     }
}