.grid-events{
     display: grid;
     grid-template-columns: 33% 33% 33%;
}

.card{
     border:none;
     box-shadow:  1px 2px 1px 0px rgba(0, 0, 0, 0.3); 
     background-color:rgba(235, 235, 235, 0.4);
     border-radius:5px;
     text-align: center;
     padding: 2%;
     color: black;
     font-weight: bold;
     margin:auto;
     width: 90%
}
.card li{
     margin: 1%;
}
.card-btn{
     display:flex;
     margin:4%;
}.btn-event{
     border:none;
     background-color:rgba(255, 0, 55, 0.9); 
     text-align: center;
     text-decoration: none;
     border-radius: 5px;
     width: 100%;
     margin:0.5%;
     padding: 2%;
     font-family: 'Karla', sans-serif; 
     font-weight: bold;
     font-size: 110%;   
     color:white
}
.btn-event:hover{
     background-color:rgba(255, 0, 55, 0.8);
     
}
/*MEDIA QUERYS*/
@media(min-width: 320px) and (max-width : 768px){
     .grid-events{
          display: grid;
          grid-template-columns: 100%;
     }
     .card{
          margin-top: 5%;
     }
}