.table {
     width: 100%;
     border-collapse: collapse;
     margin: 0;
     margin-top: 5vh;
     padding: 0;
     table-layout: fixed;
     
}
.table caption {
     font-size: 28px;
     text-transform: uppercase;
     font-weight: bold;
     margin: 8px 0px;
}
.table tr {
     background-color: transparent;
     border-top: 1px solid rgb(204, 204, 204)
}
.table th, .table td {
     font-size: 100%;
     font-weight: bold;
     padding: 8px;
     text-align: center;
}
.table thead th{ 
     text-transform: uppercase;
     background-color: rgba(255, 0, 55, 1);
     color: white;
}
.table tbody tr:hover {
     background-color: rgba(255, 0, 55, 0.1);
}
.table tbody td:hover {
     background-color: rgba(255, 0, 55, 0.2);
}
 
 @media screen and (max-width: 800px) {
     .table {
         border: 0px;
         display:grid;
     grid-template-columns: 100%;
     }
     .table caption {
         font-size: 22px;
     }
     .table thead {
         display: none;
     }
     .table tr {
         margin-bottom: 5vh;
         display: block;
         box-shadow: 1px 1px 3px 0px rgba(255, 0, 55, 1);
     }
     .table th, .table td {
         font-size: 12px;
     }
     .table td {
         display: block;
         border-bottom: 1px solid #ddd;
         text-align: right;
     }
     .table  td:last-child {
         border-bottom: none;
     }
     .table td::before {
         content: attr('data-label');
         font-weight: bold;
         text-transform: uppercase;
         float: left;
     }
 }